alabaster==0.7.9
anaconda-client==1.6.0
anaconda-navigator==1.5
anaconda-project==0.4.1
ansicolor==0.2.4
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argon2-cffi==16.3.0
astroid==1.4.9
astropy==1.3
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bitarray==0.8.1
blaze==0.10.1
bleach==2.0.0
bokeh==0.12.4
boto==2.45.0
Bottleneck==1.2.0
certifi==2017.4.17
cffi==1.9.1
chardet==3.0.4
chest==0.2.3
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
conda==4.3.16
configobj==5.0.6
contextlib2==0.5.5
cryptography==1.7.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.13.0
datashape==0.5.4
decorator==4.1.1
defusedxml==0.5.0
dill==0.2.5
Django==1.11.3
django-appconf==1.0.2
django-braces==1.11.0
django-cacheops==3.1.1
django-cors-headers==1.3.1
django-debug-toolbar==1.8
django-debug-toolbar-line-profiler==0.6.1
django-extensions==1.8.1
django-formtools==1.0
django-jsonify==0.3.0
django-maintenancemode==0.11.2
django-oauth-toolkit==0.10.0
django-pipeline==1.6.9
django-redis-cache==1.7.1
django-redis-sessions==0.5.6
django-requestlogging==1.0.4
django-simple-history==1.8.1
django-widget-tweaks==1.4.1
djangorestframework==3.5.3
docutils==0.13.1
ecdsa==0.13
entrypoints==0.2.2
et-xmlfile==1.0.1
Fabric3==1.12.post1
fastcache==1.0.2
Flask==0.12
Flask-Cors==3.0.2
funcy==1.7.3
geopy==1.11.0
gevent==1.2.1
greenlet==0.4.11
gssapi==1.2.0
gunicorn==19.7.1
h5py==2.6.0
HeapDict==1.0.0
hiredis==0.2.0
html5lib==0.999999999
icalendar==3.11
idna==2.5
imagesize==0.7.1
ion-oauth==0.1
IPy==0.83
ipykernel==4.6.0
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.0.0
jupyter-core==4.3.0
Keras==2.0.8
lazy-object-proxy==1.2.2
ldap3==2.2.4
line-profiler==2.0
llvmlite==0.15.0
locket==0.2.0
lxml==3.7.2
Markdown==2.6.7
markdown2==2.3.4
MarkupSafe==1.0
matplotlib==2.0.0
mistune==0.7.4
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
mypy-lang==0.4.6
mysqlclient==1.3.10
nbconvert==5.1.1
nbformat==4.3.0
neovim==0.1.13
networkx==1.11
nose==1.3.7
notebook==5.0.0
numba==0.30.1
numexpr==2.6.1
numpy==1.11.3
numpydoc==0.6.0
oauthlib==2.0.2
odo==0.5.0
olefile==0.44
openpyxl==2.4.1
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.1
paramiko==1.18.2
partd==0.3.7
pathlib2==2.2.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
ply==3.9
prompt-toolkit==1.0.14
protobuf==3.2.0
psutil==5.0.1
psycopg2==2.7.1
ptyprocess==0.5.2
py==1.4.32
pyasn1==0.2.3
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
PyJWT==1.5.2
pylint==1.6.4
pymongo==3.4.0
pync==1.6.1
pyOpenSSL==16.2.0
pyparsing==2.2.0
pysftp==0.2.9
pytest==3.0.5
python-dateutil==2.6.0
python-magic==0.4.12
python-pam==1.8.2
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qrcode==5.3
QtAwesome==0.4.3
qtconsole==4.2.1
QtPy==1.2.1
raven==6.1.0
redis==2.10.5
reportlab==3.3.0
requests==2.18.1
requests-oauthlib==0.8.0
rope-py3k==0.9.4.post1
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
selenium==3.3.3
setuptools-git==1.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
social-auth-app-django==1.2.0
social-auth-core==1.4.0
sockjs-tornado==1.0.3
Sphinx==1.5
sphinx-bootstrap-theme==0.4.12
spyder==3.1.2
SQLAlchemy==1.1.5
sqlparse==0.2.3
statsmodels==0.6.1
sympy==1.0
tables==3.3.0
tensorflow==1.0.0
terminado==0.6
testpath==0.3
tflearn==0.3
toolz==0.8.2
tornado==4.4.3
traitlets==4.3.2
unicodecsv==0.14.1
untangle==1.1.1
urllib3==1.21.1
vim-vint==0.3.13
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.11.11
widgetsnbextension==1.2.6
wrapt==1.10.8
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.2
xlwt==1.2.0
