alembic>=0.8.7
appdirs>=1.4.0
autoenv>=1.0.0
Cython>=0.24.1
Flask>=0.10.1
Flask-Migrate>=2.0.0
Flask-Script>=2.0.5
Flask-SQLAlchemy>=2.1
itsdangerous>=0.24
Jinja2>=2.8
Mako>=1.0.4
MarkupSafe>=0.23
packaging>=16.7
pbr>=1.10.0
psycopg2>=2.6.2
pyparsing>=2.1.8
python-editor>=1.0.1
pyxdg>=0.25
requests-oauthlib>=0.7.0
shadowsocks>=2.8.2
six>=1.10.0
SQLAlchemy>=1.0.15
stevedore>=1.15.0
urllib3>=1.17
virtualenv>=14.0.6
virtualenv-clone>=0.2.6
virtualenvwrapper>=4.7.1
Werkzeug>=0.11.3
yolk3k>=0.9
