@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf')
 }

* {
    font-family Roboto, Helvetica Neue, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    -webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
   	transition: all 0.2s ease;
}

html, body {
    height: 100%;
}

hr {
    width: 100%;
    height: 1px;
    float: left;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

h1 {
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
}

p {
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
}

dialog {
    width: 200px;
    left: calc(50vw - 100px);
}
button {
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
}

#left-arrow, #right-arrow {
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 50%;
    background-size: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    top: calc(50% - 24px);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

#left-arrow:hover, #right-arrow:hover {
    background-color: #fff;
}

#left-arrow {
    -webkit-mask-image: url('../icons/ic_keyboard_arrow_left_black_48px.svg');
    mask-image: url('../icons/ic_keyboard_arrow_left_black_48px.svg');
    left: 0;
}

#right-arrow {
    -webkit-mask-image: url('../icons/ic_keyboard_arrow_right_black_48px.svg');
    mask-image: url('../icons/ic_keyboard_arrow_right_black_48px.svg');
    right: 0;
}

section {
    position: relative;
    display: inline-block;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 68px;
    border-top: 3px solid #DA0A16;
    float: left;
    background-color: #fff;
    z-index: 2;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    background: #eee;
    float: left;
    margin-top: 71px;
}
header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 68px;
    float: left;
    background-color: #fff;
    border-bottom: 3px solid #DA0A16;
}
#logo-wrapper {
    width: calc(100% - 68px);
    height: 100%;
    float: left;
}

#logo {
    float: left;
    width: 100%;
    height: 48px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: calc(50vw - 68px);
}

#content {
    z-index: 0;
    position: relative;
    width: 100%;
    left: 0;
    float: left;
    background-color: #fff;
}

@media (min-width: 900px) {
    #content {
        width: 800px;
        left: calc((100vw - 800px) / 2);
    }
    #logo-wrapper {
        width: calc(100% - 68px - ((100vw - 800px) / 2));
    }
}

.content-section {
    width: 100%;
    float: left;
}

#welcome, #photos {
    margin: 10px 30px 10px 30px;
    width: calc(100% - 60px);
    float: left;
}

#welcome-text {
    width: calc(50% - 5px);
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

#welcome-text > h1, #photos-text > h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#welcome-image {
    width: calc(50% - 5px);
    float: left;
}

#welcome-image > img {
    width: 100%;
    height: 100%;
    float: left;
}

#slideshow > img {
    width: 100%;
    max-height: 100%;
    float: left;
    position: relative;
}

@media (max-width: 600px) {
    #welcome-text, #welcome-image {
        width: 100%;
        padding-right: 0px;
        clear: both;
    }
    #content {
    }
}

#slideshow {
    width: 100%;
    max-height: 50vh;
    float: left;
    position: relative;
    overflow: hidden;
}

#sidebar {
    width: 200px;
    height: calc(100vh - 71px);
    right: -200px;
    top: 71px;
    float: right;
    position: fixed;
    z-index: 2;
    background-color: #da0a16;
}
.menu-button {
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 100px;
    float: left;
    padding: 0;
	text-align: center;
    background-color: transparent;
}

.menu-button:hover {
    background-color: #bf0913; 
}

.menu-button:active {
    background-color: #a40810; 
}
#nav-button {
    width: 68px;
    height: 68px;
    float: left;
    outline: none;
    background-color: transparent;
}
.ic-menu {
    background-image: url("../icons/ic_menu_black_48px.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}

