<!DOCTYPE html>
<html>
    <head>
{% include 'head.html' %}
    </head>
    <title>German Honor Society</title>
    <body>
{% include 'header.html' %}
        <div id="wrapper">
            <div id="content">
                <div class="card">
                    <h2>Edit Announcements</h2>
                    <form name="announcements">
                    {% for announcement in announcements %}
                        <div class="announcement">
                            <h3>{{ announcement.title }}</h3>
                            <div class="announcement text">
                                {{ announcement.desc }}
                            </div>
                        </div>
                    {% endfor %}
                    </form>
                </div>
                <div class="card">
                    <h2>Approve Hours</h2>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Hours</th>
                            <th>Description</th>
                            <th>Item</th>
                            <th>Approved</th>
                        </tr>
                        {% for hour in hours %}
                        <tr>
                            <td>{{ hour.id }}</td>
                            <td>{{ hour.date }}</td>
                            <td>{{ hour.name }}</td>
                            <td>{{ hour.hours }}</td>
                            <td>{{ hour.desc }}</td>
                            <td>{{ hour.item }}</td>
                            <td>{{ hour.approved }}</td>
                        </tr>
                        {% endfor %}
                        <!--<tr>
                            <td>1</td>
                            <td>Naitian Zhou</td>
                            <td>2.00</td>
                            <td>Oktoberfest</td>
                            <td>No</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Helen Poe</td>
                            <td>90.00</td>
                            <td>Grillfest</td>
                            <td>No</td>
                            <td></td>
                        </tr>--!>
                    </table>
                </div>
            </div>
        </div>
        <nav id="sidebar">
{% include 'sidebar.html' %}
            <a href="{{ url_for('logout') }}">
                <button id="logout-button" class="menu-button">Log Out</button>
            </a>
        </nav>
        <footer>
        </footer>
        <script src="/scripts/sidebar.js"></script>
    </body>
</html>
