<!DOCTYPE html>
<html>
    <head>
{% include 'sidebar.html' %}
    </head>
    <title>German Honor Society</title>
    <body>
        <header>
            <div id="logo-wrapper">
                <a href="{{ url_for('index') }}">
                    <div id="logo"></div>
                </a>
            </div>
            <button id="nav-button">
                <i class="ic-menu"></i>
            </button>
        </header>
        <div id="wrapper">
            <div id="content">
            </div>
        </div>
        <nav id="sidebar">
{% include 'sidebar.html' %}
            <a href="{{ url_for('logout') }}">
                <button id="logout-button" class="menu-button">Log Out</button>
            </a>
        </nav>
        <footer>
        </footer>
        <script src="scripts/gallery.js"></script>
        <script src="scripts/sidebar.js"></script>
    </body>
</html>
