<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="TJHSST German Honor Society">
		<meta name="author" content="William Zhang">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/ico" href="icons/favicon.ico">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<title>German Honor Society</title>
	<body>
        <header>
            <div id="logo-wrapper">
                <a href="{{ url_for('index') }}">
                    <div id="logo"></div>
                </a>
            </div>
            <button id="nav-button">
                <i class="ic-menu"></i>
            </button>
        </header>
		<div id="wrapper">
			<div id="content">
                <section class="content-section">
                    <div id="welcome">
                        <div id="welcome-text">
                            <h1>Wilkommen!</h1>
                            <p>Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht?</p>
                        </div>
                        <div id="welcome-image">
                            <img src="images/welcome.jpg" alt="welcome.jpg" />
                        </div>
                    </div>
                    <hr>
                </section>
                <section class="content-section">
                    <div id="photos">
                        <div id="photos-text">
                            <h1>Photos</h1>
                            <div id="example-image">
                                <img src="images/example.jpg" alt="example.jpg" />
                            </div>
                        </div>
                    </div>
                    <hr>
                </section>
                <section class="content-section">
                    <div id="announcements"></div>
                </section>
            </div>
		</div>
        <nav id="sidebar">
            <a href="{{ url_for('index') }}">
                <button class="menu-button">Home</button>
            </a>
            <a href="{{ url_for('hours') }}">
                <button class="menu-button">Hour Tracker</button>
            </a>
        </nav>
        <footer>
        </footer>
        <script src="scripts/script.js"></script>
        <script src="scripts/sidebar.js"></script>
	</body>
</html>
