<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="author" content="William Zhang">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/ico" href="icons/favicon.ico">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<title>German Honor Society</title>
	<body>
        <nav id="sidebar">
            <a href="{{ url_for('index') }}">
                <button class="menu-button">Home</button>
            </a>
            <a href="{{ url_for('hours') }}">
                <button class="menu-button">Hour Tracker</button>
            </a>
        </nav>
        <header>
            <button id="nav-button">
                <i class="ic-menu"></i>
            </button>
        </header>
		<div id="wrapper">
			<div id="content">
	            <div class="card">
                    
                </div>
            </div>
		</div>
        <script src="scripts/script.js"></script>
        <script src="scripts/sidebar.js"></script>
	</body>
</html>
