<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="author" content="William Zhang">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/ico" href="icons/favicon.ico">
		<link rel="stylesheet" href="css/base.css">
	</head>
	<title>German Honor Society Tracker</title>
	<body>
        <nav id="sidebar">
            <a href="{{ url_for('logout') }}"><button id="logout-button" class="menu-button">Log Out</button></a>
        </nav>
        <header>
            <button id="nav-button">
                <i class="ic-menu"></i>
            </button>
        </header>
		<div id="wrapper">
			<div id="content">
	            <table>
		            {% for info in profile %}
                    <tr>
                        <td>{{ info }}</td>
                        <td>{{ info }}</td></tr>
                    {% endfor %}
                </table>
            </div>
		</div>
        <script src="scripts/script.js"></script>
        <script src="scripts/sidebar.js"></script>
	</body>
</html>
